@font-face {
  font-family: "iconfont"; /* Project id 5148477 */
  src: url('iconfont.woff2?t=1774513451954') format('woff2'),
       url('iconfont.woff?t=1774513451954') format('woff'),
       url('iconfont.ttf?t=1774513451954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cunchu:before {
  content: "\e98d";
}

.icon-dingdan:before {
  content: "\e98e";
}

.icon-fuwuqi:before {
  content: "\e98f";
}

